NEXT_PUBLIC_SUPABASE_URL=https://xcijdgzgecnizcwskzcb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_bfbiuwA5u9eBCNSY3pBi-w_rAE0O-Dz
SUPABASE_URL=https://xcijdgzgecnizcwskzcb.supabase.co
SUPABASE_SECRET_KEY=
